<div id="loginContainer">
    <div class="login-card">
        <h1>Log-in</h1><br>

        <form method="post" name="loginForm"
              ng-submit="login(credentials)" novalidate>
            <input type="text" name="user" placeholder="Username" ng-model="credentials.username">
            <input type="password" name="pass" placeholder="Password" ng-model="credentials.password">
            <input type="submit" name="login" class="login login-submit" value="login">
        </form>
    </div>
</div>

